# Environment Files (Matches .env and apikeys.env in any folder)
.env
apikeys.env
*.env
.vscode/

# Python specific
venv/
__pycache__/
.mypy_cache/
*.py[cod]

# Frontend
node_modules/

# OS specific
.DS_Store

# Test files (If you want to keep your tests local only)
test_news.py
test_alerts.py